body {
    touch-action: none;
}

rect.bar {
    opacity: .25;
    transition: all .25s ease;

    &.past {
        opacity: 1;
        transition: all .25s ease;
    }

    &.active {
        fill: rgb(33, 168, 174);
        opacity: 1;
        transition: all .25s ease;
    }
}