svg.chart {
    color: white;
    cursor: pointer;
    
    text.axisLabel {
        opacity: .5;
        fill: white;
        font-size: 10px;
    }

    .xAxis {
        g.tick {
            text {
                font-family: 'IBM Plex Sans';
                transform: translateY(2px);
            }
        }
    }

    .yAxis {
        g.tick {
            text {
                font-family: 'IBM Plex Sans';
                transform: translateX(-2px);
            }
        }
    }

    .area {
        fill: url(#lidl-gradient);
        fill-opacity: .3;
    }
    
    g.tick {
        opacity: .5;
    }
    
    path.domain {
        display: none;
    }    

    #groupLegend {
        text {
            font-size: 10px;
        }
    }
}