
.mb-s {
    margin-bottom: 10px;
}

.mt-s {
    margin-top: 10px;
}

.wrapper-fixed {
    position: fixed;
}

.wrapper-scroll {
    position: absolute;
    top: 80px;
}

.HowTo {
    font-family: 'IBM Plex Sans';
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;

    span {
        text-align: center;
        opacity: .3;
        letter-spacing: .15px;
        font-size: 13px;
        cursor: pointer;
        transition: all .125s ease-in-out;

        &:hover {
            opacity: 1;
            transition: all .125s ease-in-out;
        }
    }
}


.btn-prev {
    position: absolute;
    right: 120px;
    transform: translateY(2.5px);
    opacity: .5;
    transition: opacity .125 ease-in-out;
    cursor: pointer;
    
    &:hover {
        opacity: 1;
        transition: opacity .125 ease-in-out;
    }
}

.btn-next {
    position: absolute;
    right: 100px;
    transform: translateY(1px);
    opacity: .5;
    transition: opacity .125 ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: 1;
        transition: opacity .125 ease-in-out;
    }
}

#stories-tab {
    height: 320px;
    overflow: scroll;
}

#districts-tab {
    height: 320px;
    overflow: scroll;
}

.sidebar {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #303030;
    color: white;

    .tile {
        font-family: 'IBM Plex Sans';
        width: 300px;
        border-radius: $borderRadiusS;
        margin-top: 15px;
    }

    .story-outer {
        display: flex;
        flex-direction: column;

        margin-bottom: 15px;

        h3 {
            font-size: 16px;
            margin-bottom: 5px;
        }

        span {
            opacity: .5;
            line-height: 160%;
        }

        .camera-handle {
            padding: 4px 8px 4px 8px;
            border: 3px solid;
            font-weight: bold;
            border-radius: 5px;
            width: fit-content;
            margin-top: 10px;
            cursor: pointer;

            color: #168C91;
            background: #154F52;
            transition: all .25s ease;
            opacity: 1;
    
            &:hover {
                opacity: 1;
                color: #19DBE4;
                background: #154F52;
            }
    
            &.active {
                opacity: 1;
                color: #19DBE4;
                background: #168C91;
            }

        }
        
    }

    .tab.tile {
        .outer {
            display: flex;

            .flex-wrapper {
                justify-content: left;
            }

            span {
                font-weight: 600;
                opacity: .5;
                font-size: 13px;
                cursor: pointer;

                &.active {
                    opacity: 1;
                }

                &.camera-handle {
                    font-weight: 400;
                    font-size: 10px;
                    width: 180px;
                    transform: translateY(3px);
                    transition: all .25 ease-in-out;
                    display: none;

                    &.visible {
                        display: block;
                    }

                }
            }
        }

        .numbers-wrapper {
            &.active {
                display: block;
            }

            display: none;
        }
    }

    .navigation {
        margin-top: 20px;
        overflow: auto;
        height: auto;
        width: 280px;
        min-height: 70px;
        align-items: inherit;
        display: flex;
        flex-direction: column;
    }

    .clock-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .flex-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;

        &.row {
            span {
                &:hover {
                    opacity: .75;
                }
            }
        }
    }

    .tile {
        width: 300px;
        background: #292929;
        border-radius: 6px;
        box-shadow: #1f1f1f 0px 2px 3px 0px;
        
        &:hover {
            box-shadow: #1f1f1f 0px 3px 6px 0px;
        }

        .outer {
            border-bottom: 1px solid #333333;
            padding-bottom: 10px;
            padding-top: 10px;

            .reset-view {
                display: none;

                &.active {
                    display: block;
                    opacity: .5

                    &hover() {
                        opacity: 1;
                    }
                }
            }

            span {
                font-weight: bold;
                margin-left: 10px;
                margin-top: 7px;
                margin-bottom: 7px;
            }
        }

        .numbers-wrapper {
            padding: 10px;
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
        }

        span {
            font-weight: 400;
            font-size: 13px;
        }

        .flex-wrapper {
            display: flex;
            justify-content: space-between;
        }
        
        .wrapper-number {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            span {
                font-size: 10px;
                opacity: .5;
            }
            
            .number {
                opacity: 1;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}