
.mb-s {
    margin-bottom: 10px;
}

.mt-s {
    margin-top: 10px;
}

.sidebar {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #303030;
    color: white;

    .tile {
        font-family: 'IBM Plex Sans';
        width: 300px;
        border-radius: $borderRadiusS;
        margin-top: 15px;
    }

    .story-outer {
        display: flex;
        flex-direction: column;

        margin-bottom: 15px;

        h3 {
            font-size: 16px;
            margin-bottom: 5px;
        }

        span {
            opacity: .5;
            line-height: 160%;
        }

        .camera-handle {
            padding: 4px 8px 4px 8px;
            border: 3px solid;
            font-weight: bold;
            border-radius: 5px;
            width: fit-content;
            margin-top: 10px;
            cursor: pointer;

            color: rgba(255,255,255,.5);
            background: rgba(255,255,255,.1);
            transition: all .25s ease;
    
            &:hover {
                color: rgba(255,255,255,1);
                background: rgba(255,255,255,.4);
            }

        }
        
    }

    .tab.tile {
        .outer {
            display: flex;

            .flex-wrapper {
                justify-content: left;
            }

            span {
                font-weight: 600;
                opacity: .5;
                cursor: pointer;

                &.active {
                    opacity: 1;
                    border-bottom: 1px solid;
                    padding-bottom: 10px;
                }

                &.camera-handle {
                    font-weight: 400;
                    font-size: 10px;
                    width: 180px;
                    transform: translateY(3px);
                    transition: all .25 ease-in-out;
                    display: none;
                    
                    &:hover {
                        opacity: 1;
                        transition: all .25 ease-in-out;
                    }

                    &.visible {
                        display: block;
                    }

                }
            }
        }

        .numbers-wrapper {
            &.active {
                display: block;
            }

            display: none;
        }
    }

    .navigation {
        margin-top: 20px;
        overflow: auto;
        height: auto;
        width: 280px;
        min-height: 70px;
        align-items: inherit;
        display: flex;
        flex-direction: column;
    }

    .clock-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .flex-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .tile {
        width: 300px;
        background: #292929;
        border-radius: 6px;
        box-shadow: #1f1f1f 0px 2px 3px 0px;
        
        &:hover {
            box-shadow: #1f1f1f 0px 3px 6px 0px;
        }

        .outer {
            border-bottom: 1px solid #333333;
            padding-bottom: 10px;
            padding-top: 10px;

            .reset-view {
                display: none;

                &.active {
                    display: block;
                }
            }

            span {
                font-weight: bold;
                margin-left: 10px;
                margin-top: 7px;
                margin-bottom: 7px;
            }
        }

        .numbers-wrapper {
            padding: 10px;
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
        }

        span {
            font-weight: 400;
            font-size: 14px;
        }

        .flex-wrapper {
            display: flex;
            justify-content: space-between;
        }
        
        .wrapper-number {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            span {
                font-size: 10px;
                opacity: .5;
            }
            
            .number {
                opacity: 1;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}