$colorPrimary: #312F2F;
$colorPrimaryDark: #222020;
$colorWhite: #FFFFFF;
$screenWidthM: 1050px;
$screenWidthS: 600px;
$colorLight: #777777;
$fontFamily: 'IBM Plex Sans';
$fontSizeXl: '18px';
$fontSizeL: '14px';
$timeS: .125s;
$timeM: .25s;
$timeL: .5s;
$colorProvider0: rgba(239, 138,98,1);
$colorProvider0Alpha: rgba(239, 138,98,.3);
$colorProvider1: rgba(255,255,255,1);
$colorProvider1Alpha: rgba(255,255,255,.3);
$borderRadius: 6px;
$borderRadiusS: 3px;